{% load static %}
<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8"/>
  <title>Kanban Estibas</title>
  <!-- favicon tradicional -->
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
  <!-- para navegadores modernos -->
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
  <!-- Apple / móviles -->
  <link rel="apple-touch-icon" sizes="192x192" href="{% static 'img/android-chrome-192x192' %}">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
  <h1>Kanban para estibas vacías</h1>
  <div id="grid"></div>

  <script src="{% static 'kanban.js' %}"></script>
</body>
</html>